In [1]:
a=10

In [2]:
b=10

In [3]:
a*b

100

In [5]:
l = [1,2,3,4,"Divesh",45,56]

In [24]:
for i in l:
    if type(i)==int:
        print(i+1)

2
3
4
5
46
57

pass function

In [26]:
for i in l:
    if type(i) == int :
        print(i+1)
    elif type(i)==str:
        pass

2
3
4
5
46
57

Break function

In [27]:
for i in l:
    if type(i) == int :
        print(i+1)
    elif type(i)==str:
        break

2
3
4
5

In [32]:
D = "Divesh"
for i in D :
    if i == 'e' :
        break
    print(i)
else :
    print('Hey Div')

D
i
v

In [33]:
D = "Divesh"
for i in D :
    if i == 'r' :
        break
    print(i)
else :
    print('Hey Div')

D
i
v
e
s
h
Hey Div

In [36]:
D = "Divesh"
for i in D :
    if i == 'e' :
        break
    print(i)
    pass
else :
    print('Hey Div')

D
i
v

In [37]:
t = (1,2,3,4,5,6,"Divesh")
for i in t:
    print(i)

1
2
3
4
5
6
Divesh

In [39]:
b={1,2,3,4,5,6,7,7,7,6,5,"Divesh"}
type(b)

set

In [40]:
b

{1, 2, 3, 4, 5, 6, 7, 'Divesh'}

In [41]:
for i in b:
    print(i)

1
2
3
4
5
6
7
Divesh

In [42]:
D={'AA':'aa','BB':'bb','CC':'cc'}

In [50]:
for i in D:
    print(i,D[i])

AA aa
BB bb
CC cc

In [49]:
D["AA"]

'aa'

In [60]:
for i in D:
    if D[i]=='aa' or D[i]=='bb' or D[i]=='cc':
        print(i, D[i])
        print(D.keys())
        print(D.values())

AA aa
dict_keys(['AA', 'BB', 'CC'])
dict_values(['aa', 'bb', 'cc'])
BB bb
dict_keys(['AA', 'BB', 'CC'])
dict_values(['aa', 'bb', 'cc'])
CC cc
dict_keys(['AA', 'BB', 'CC'])
dict_values(['aa', 'bb', 'cc'])

In [61]:
range(0,10)

range(0, 10)

In [62]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [65]:
list(range(0,11,-1))

[]

In [74]:
n = 4
for i in range(4):
    for j in range(i+1):
        print("Divesh", end= "    ")
    print("\n")

Divesh

Divesh    Divesh

Divesh    Divesh    Divesh

Divesh    Divesh    Divesh    Divesh

In [76]:
n=4
for i in range(4):
    n=n-1
    print('   '*n, end='  ')
    for j in range(i+1):
        print('Divesh', end='  ')
    print('\n')

           Divesh

        Divesh  Divesh

     Divesh  Divesh  Divesh

  Divesh  Divesh  Divesh  Divesh

In [183]:
n=3
for i in range(n):
    for j in range(i , n-1):
        print(" " * len("Divesh"),end=" ")
    for j in range(i+1):
        print("Divesh",end=" ")
    for j in range(i):
        print("Divesh",end=" ")
    print()

              Divesh
       Divesh Divesh Divesh
Divesh Divesh Divesh Divesh Divesh

In [82]:
t=(2,5,8,12,6,88,43,889) 
for i in range(8):
    print(i , t[i])

0 2
1 5
2 8
3 12
4 6
5 88
6 43
7 889

In [83]:
t=(2,5,8,12,6,88,43,889) 
for i in range(len(t)):
    print(i , t[i])

0 2
1 5
2 8
3 12
4 6
5 88
6 43
7 889

In [95]:
s = "iNeuron"
for i in range(len(s)-1,-1,-1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [96]:
D

{'AA': 'aa', 'BB': 'bb', 'CC': 'cc'}

In [102]:
for i in D.items():
    print(i,type(i),type(i[1]))

('AA', 'aa') <class 'tuple'> <class 'str'>
('BB', 'bb') <class 'tuple'> <class 'str'>
('CC', 'cc') <class 'tuple'> <class 'str'>

In [103]:
l = ["Divesh",'Babu',"diveshankolekar.com",6361646136,1234567890,"Dikshat",4567]

In [116]:
l1=[]
for i in l :
    if type(i) ==int:
        l1.append(i)
        l1

In [117]:
l1

[6361646136, 1234567890, 4567]

In [137]:
d = {1:34567,"name":"Divesh",'Email id':"diveshankolekar@gmail.com",234:'sfdtfddj',43:"hgfj", 233 : "vvbfdvbh"}

In [139]:
for i in d:
    if type(i)== int:
        print(i,':', d[i])

1 : 34567
234 : sfdtfddj
43 : hgfj
233 : vvbfdvbh

In [140]:
for i in d:
    if type(i)== str:
        print(i,':', d[i])

name : Divesh
Email id : diveshankolekar@gmail.com

In [144]:
s = "aaaaabbccd"

In [145]:
list(s)

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'c', 'c', 'd']

In [146]:
s.count('a')

5

In [147]:
s.count('b')

2

In [148]:
s.count('c')

2

In [149]:
s.count('d')

1

In [151]:
for i in list(s):
    print(i , ':' , s.count(i))

a : 5
a : 5
a : 5
a : 5
a : 5
b : 2
b : 2
c : 2
c : 2
d : 1

In [152]:
for i in set(s):
    print(i , ':' , s.count(i))

d : 1
b : 2
c : 2
a : 5

In [172]:
f=("aaassssffggeeyyrttdggcvbfjjfkgiiieytttgsffdhdfjkghplhlghikgigfuyrtyrgfdgxvxzcdadaeqwtwgdfdgdcbfbcvxdaswaewreghfdjhfjfk")

In [173]:
for i in set(f):
    print(i , ':' , f.count(i))

e : 6
p : 1
d : 11
z : 1
x : 3
y : 5
w : 4
s : 6
q : 1
i : 5
c : 4
v : 3
u : 1
f : 14
k : 4
b : 3
g : 15
t : 7
h : 6
r : 4
j : 5
l : 2
a : 7

In [20]:
i= 35661753362687

In [21]:
for j in i:
    print(i)

TypeError: 'int' object is not iterable

In [23]:
str(i)

'35661753362687'

In [26]:
for j in str(i):
    print(int(j) , type(int(j)))

3 <class 'int'>
5 <class 'int'>
6 <class 'int'>
6 <class 'int'>
1 <class 'int'>
7 <class 'int'>
5 <class 'int'>
3 <class 'int'>
3 <class 'int'>
6 <class 'int'>
2 <class 'int'>
6 <class 'int'>
8 <class 'int'>
7 <class 'int'>

In [27]:
t = ("Divesh","Babu",[1,2,3,4,5],(3,4,5,6),{"Divesh":"Data Scientist","Babu":"Cricketer"})

In [28]:
t[2][2]

3

In [34]:
print(t[2][2] , t[3][0])

3 3

OR

In [21]:
t = ("Divesh","Babu",[1,2,3,4,5],(3,4,5,6),{3:3,"Divesh":"Data Scientist","Babu":"Cricketer"})

In [22]:
for i in t :
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i :
            if j == 3:
                print(j)

3
3
3

In [23]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3:
                print(j)
    if type (i) == dict:  
        for k in i.items() :
            print(k)

3
3
(3, 3)
('Divesh', 'Data Scientist')
('Babu', 'Cricketer')

In [26]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3:
                print(j)
    if type (i) == dict:  
        for a,b in i.items() :
            if a == 3 or b == 3:
                print(a)
                print(b)

3
3
3
3

In [27]:
d={1:2,"Aa":"Divesh","Bb":"ankolekar"}

In [28]:
for i in d.items():
    print(i)

(1, 2)
('Aa', 'Divesh')
('Bb', 'ankolekar')

In [29]:
d.items()

dict_items([(1, 2), ('Aa', 'Divesh'), ('Bb', 'ankolekar')])

ALL ARE SIMILAR BELOW

In [30]:
a = 10
b = 20
c = 30

In [31]:
a,b,c = 10,20,30

In [32]:
a,b,c = (10,20,30)

Problem Statement:-

    Q1
 ineuron
 ineuron ineuron 
 ineuron ineuron ineuron
 ineuron ineuron ineuron
            
    
    
   Q2
          ineuron
    ineuron      ineuron 
  ineuron  ineuron  ineuron
    ineuron      ineuron
          ineuron