In [1]:
a=10
if a==10 :
    print("this is my first condition")

this is my first condition

In [2]:
a=10
if a==11 :
    print("this is my first condition")

In [3]:
a=10
if a>5 :
    pass

In [4]:
a = 10 
if a>8:
    print('it is TRUE')

it is TRUE

In [5]:
a = 10 
if a<8:
    print('it is TRUE')

In [6]:
a = 10
if a != 11:
    print("Your Condition is True")
else :
    print("Q")

Your Condition is True

In [7]:
a = 10
if a == 11:
    print("Your Condition is false")
else :
    print("Q")

Q

In [8]:
a = 10
if a == 12:
    print("Here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks fail then 'DO THIS'")

if all the blocks fail then 'DO THIS'

In [9]:
price = 500
if price > 500:
    print("you may not be able to buy a jacket ")
elif price <= 500:
    print("You are able to buy a jacket")

You are able to buy a jacket

In [10]:
price = 500
if price > 500:
    print("you may not be able to buy a jacket ")
elif price < 500:
    print("You are able to buy a jacket")
else :
    print("wait for it")

wait for it

In [11]:
price = 500
if price > 500:
    print("you may not be able to buy a jacket ")
elif price < 500:
    print("You are able to buy a jacket")
elif price == 500:
    print("You can surely buy the jacket")
else :
    print("wait for it")

You can surely buy the jacket

In [12]:
price >500

False

In [13]:
price < 500

False

In [14]:
price == 500

True

In [15]:
l = [1,2,3,4,5,6]
2 in l

True

In [16]:
7 in l

False

In [17]:
if 2 in l:
    print("Try to perform a task")
else :
    print('do not perform the paticular task')

Try to perform a task

In [18]:
if 10 in l:
    print("Try to perform a task")
else :
    print('do not perform the paticular task')

do not perform the paticular task

In [19]:
if 1 in l:
    print("Try to do a addition")
elif 2 in l:
    print("Try to do substraction")
elif 3 in l:    
    print("Try to do multiplication")

Try to do a addition

In [20]:
if 10 in l :
    print("DO ADDITION")
elif 2 in l :
    print("DO SUBSTRACTION")
elif 3 in l :
    print("DO MULTIPLICATION")

DO SUBSTRACTION

In [21]:
if 1 in l:
    print("Try to do a addition")
elif 2 in l:
    print("Try to do substraction")
elif 3 in l:    
    print("Try to do multiplication")
if 4 in l:
    print("It is an new block")

Try to do a addition
It is an new block

In [22]:
A = 400

In [23]:
B = input()

In [24]:
B

''

In [25]:
type(B)

str

In [26]:
C = int(input())

543

In [27]:
C

543

In [5]:
price = int(input())
if price < 500:
    print("I will be able to buy Phone")
    if price < 100 :
        print("I will be able to buy a jacket")
    elif price < 300:
        print("I will be able to buy a shoes")
        if price < 200 :
            print("I will be able to buy a chocolate")
    else :
        print("I wont be able to buy anything else")
else :
    print("i wont be able to buy anything with this price tag")

199
I will be able to buy Phone
I will be able to buy a shoes
I will be able to buy a chocolate

In [2]:
price = int(input())
if price < 500:
    print("I will be able to buy Phone")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price < 300:
        print("I will be able to buy a shoes")
    else :
        print("I wont be able to buy anything else")
else :
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print("I will buy it for next time")

600
i wont be able to buy anything with this price tag
I will buy it for next time

In [3]:
Marks = int(input())
if Marks < 600:
    print("I will not be able to clear 'GRE'")
    if Marks < 600:
        print("No 'GRE'")
        if Marks < 500:
            print("i will be able to get into a 'TOFFEL'")
            if Marks <= 200:
                print("You have failled")
    else:
        print("I will try for something else") 
else:
    print("Congratulations you have cleared 'GRE'")

200
I will not be able to clear 'GRE'
No 'GRE'
i will be able to get into a 'TOFFEL'
You have failled

In [10]:
value = float(input("enter a floating point number"))
if value >= 0:
    if value == 0:
        print("Entered value is 'ZERO'")
    else :
        print("Entered value is 'POSITIVE'")
else :
    print("Entered value is 'NEGATIVE'")

enter a floating point number-100
Entered value is 'NEGATIVE'

0,0=0      fals,false=false
0,1=1      false,true=true
1,0=1      true,false=true
1,1=1      true,true=true (for 'or'condition)

In [11]:
a=10
if a>10 or a==10:
    print("Execute the TASK")

Execute the TASK

In [13]:
a=10
if a>10 or a<10:
    print("Execute the TASK")

0,0=0      fals,false=false
0,1=0      false,true=false
1,0=0      true,false=false
1,1=1      true,true=true (for 'and'condition)

In [15]:
a=10
if a>10 and a==10:
    print("Execute the TASK")

In [17]:
a=10
if a>=10 and a==10:
    print("Execute the TASK")

Execute the TASK

In [19]:
b="divesh"
if b == "divesh" and b == "Divesh":
    print("this is divesh")

In [20]:
b="divesh"
if b == "divesh" and b == "divesh":
    print("this is divesh")

this is divesh

In [25]:
a= 10
b=20
c=30
d=40
if a == 10 and b==20 and c==30 and d==44:
    print("Hey i am abcd")
    a= 10

In [31]:
a= 10
b=20
c=30
d=40
if a == 10 and b==20 and c==30 and d==40:
    print("Hey i am abcd")

Hey i am abcd

In [32]:
a= 10
b=20
c=30
d=40
if a == 10 or b==21 or c==33 or d==44:
    print("Hey i am abcd")

Hey i am abcd

In [33]:
D = {'Divesh':'Data Scientist','Dikshat':'Cricketer','Pappa':'Army'}

In [35]:
if D['Divesh']=='Data Scientist' and D['Dikshat']=='Cricketer' and D['Pappa']=='Army':
    print("The Dictionary is verified")
    print(D.values())
    print(D.keys())

The Dictionary is verified
dict_values(['Data Scientist', 'Cricketer', 'Army'])
dict_keys(['Divesh', 'Dikshat', 'Pappa'])

In [36]:
if D['Divesh']=='Data Scientist' and D['Dikshat']=='Cricketer' and D['Pappa']=='Fire Man':
    print("The Dictionary is verified")
    print(D.values())
    print(D.keys())

In [37]:
if D['Divesh']=='Data Scientist' and D['Dikshat']=='Cricketer' and D['Pappa']=='Fire Man':
    print("The Dictionary is verified")
    print(D.values())
    print(D.keys())    
else :
    print("Values Cannot be verified")

Values Cannot be verified

In [38]:
if D['Divesh']=='Data Scientist' or D['Dikshat']=='Cricketer' or D['Pappa']=='Fire Man':
    print("The Dictionary is verified")
    print(D.values())
    print(D.keys())

The Dictionary is verified
dict_values(['Data Scientist', 'Cricketer', 'Army'])
dict_keys(['Divesh', 'Dikshat', 'Pappa'])

In [1]:
if D['Divesh']=='Data Scientist'or D['Dikshat']=='PUBG' or D['Pappa']=='Fire Man':
    print("The Dictionary is verified")
    print(D.values())
    print(D.keys())

NameError: name 'D' is not defined

# LOOP

In [2]:
l = [1,2,3,4,'Divesh',234.55]

In [3]:
for i in l:
    print(i)

1
2
3
4
Divesh
234.55

In [4]:
for i in l:
    print(i+1)

2
3
4
5

TypeError: can only concatenate str (not "int") to str

In [5]:
for i in l[0:4]:
    print(i+1)

2
3
4
5

In [6]:
for i in l:
    if type(i)== int :
        print(i+1)
    elif type(i)== str:
        print(i+str(1))

2
3
4
5
Divesh1

In [7]:
for i in l:
    if type(i)== int or type(i)== float:
        print(i+1)
    elif type(i)== str:
        print(i+str(1))

2
3
4
5
Divesh1
235.55

In [8]:
for D in l:
    if type(D)== int or type(D)== float:
        print(D+1)
    elif type(D)== str:
        print(D+str(1))

2
3
4
5
Divesh1
235.55

In [11]:
l1 = []
for D in l:
    if type(D) == int:
        l1.append(D)

In [13]:
l1

[1, 2, 3, 4]

In [14]:
l2 = []
for i in l :
    if type(i) == float:
        l2.append(i)

In [15]:
l2

[234.55]

In [19]:
l,l1,l2

([1, 2, 3, 4, 'Divesh', 234.55], [1, 2, 3, 4], [234.55])

In [21]:
l=[1,2,3,4,5,6,"Divesh","Sudh"]

In [22]:
for i in l:
    if type(i)== str:
        if i == "Sudh":
            break
        print(i)

Divesh